<div class="auth-container">

  <div class="top-section">

    <h1 class="title">Inicia Sesión</h1>

    <div class="tabs">
      <a routerLink="/login" class="tab active">Iniciar Sesión</a>
      <a routerLink="/register" class="tab">Registrarse</a>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="input-group">
        <span class="icon">👤</span>
        <input
          type="email"
          placeholder="Correo Electrónico"
          formControlName="email">
      </div>

      <div class="input-group">
        <span class="icon">🔒</span>
        <input
          type="password"
          placeholder="Contraseña"
          formControlName="password">
      </div>

      <div class="forgot">
        <a routerLink="/forgot-password">
          ¿Olvidaste tu contraseña?
        </a>
      </div>

    </form>

  </div>

  <div class="bottom-section">

    <button class="main-btn" type="submit">
      Iniciar Sesión
    </button>

    <div class="divider">
      <div class="line"></div>
      <span>O inicia sesión con</span>
      <div class="line"></div>
    </div>

    <div class="social-icons">

      <div class="social facebook">
        f
      </div>

      <div class="social google">
        G
      </div>

      <div class="social apple">
        
      </div>

    </div>

  </div>

</div>