*{
    box-sizing: border-box;
}

.dashboard-layout{
    display:flex;
    min-height:100vh;
    background:#f5f5f7;
}

/* SIDEBAR */

.sidebar{
    width:260px;
    background:#0f1225;
    color:white;
    padding:25px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.logo{
    font-size:40px;
    color:white;
    margin-bottom:40px;
}

nav{
    display:flex;
    flex-direction:column;
    gap:10px;
}

nav a{
    display:flex;
    align-items:center;
    gap:15px;

    padding:15px;
    border-radius:15px;

    color:#d1d5db;

    text-decoration:none;
    cursor:pointer;

    transition:.3s;
}

nav a:hover,
nav a.active{
    background:#6d4cff;
    color:white;
}

.logout-btn{
    height:50px;
    background:none;
    border:none;
    color:white;

    display:flex;
    align-items:center;
    gap:10px;

    cursor:pointer;
}

/* CONTENIDO */

.content{
    flex:1;
    padding:30px;
}

/* TOPBAR */

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:30px;
}

.topbar h1{
    margin:0;
    font-size:32px;
}

.topbar p{
    color:#777;
}

.topbar-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.search-box{
    width:230px;
    height:45px;

    background:white;
    border-radius:12px;

    display:flex;
    align-items:center;

    padding:0 15px;
}

.search-box input{
    border:none;
    outline:none;
    margin-left:10px;
    width:100%;
}

.notification{
    width:45px;
    height:45px;

    border:none;
    border-radius:50%;
    background:white;
    cursor:pointer;
}

.profile mat-icon{
    font-size:50px;
    width:50px;
    height:50px;
    color:#6d4cff;
}

/* TARJETAS */

.stats-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin-bottom:25px;
}

.stat-card{
    background:white;
    padding:25px;
    border-radius:18px;
    box-shadow:0 3px 15px rgba(0,0,0,.06);
}

.stat-card span{
    color:#777;
}

.stat-card h2{
    margin-top:10px;
    font-size:35px;
}

/* INFERIOR */

.bottom-grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:25px;
}

.activity-card,
.actions-card{
    background:white;
    border-radius:20px;
    padding:25px;

    box-shadow:0 3px 15px rgba(0,0,0,.06);
}

.activity-item{
    display:flex;
    align-items:center;
    gap:15px;

    margin-top:25px;
}

.activity-item mat-icon{
    font-size:45px;
    width:45px;
    height:45px;
    color:#777;
}

.activity-item h4{
    margin:0;
    font-size:15px;
}

.activity-item span{
    color:#999;
    font-size:13px;
}

.actions-card{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.actions-card button{
    height:60px;

    border:1px solid #e5e7eb;
    border-radius:15px;
    background:white;

    display:flex;
    align-items:center;
    gap:15px;

    padding-left:20px;

    cursor:pointer;
    transition:.3s;
}

.actions-card button:hover{
    background:#f3f4f6;
}