DJANGO_SECRET_KEY=tu_clave_secreta_aqui
DJANGO_DEBUG=False
DATABASE_URL=sqlite:///./lexising.db
GROQ_API_KEY=gsk_TU_CLAVE_GROQ_AQUI
GROQ_API_URL=tu_url_de_api_groq_aqui
GROQ_MODEL=model_de_groq_aqui
GROQ_TIMEOUT=10
FIREBASE_CREDENTIALS='{"type": "service_account", "project_id": "tu_proyecto", "private_key_id": "tu_private_key_id", "private_key": "-----BEGIN PRIVATE KEY-----\nMI7ID818l=.......\n-----END PRIVATE KEY-----\n", "client_email": "firebase-adminsdk-fvtttb@tu_proyecto.iam.gserviceaccount.com", "client_id": "tu_client_id", "auth_uri": "https://accounts.google.com/o/oauth2/auth", "token_uri": "https://oauth2.googleapis.com/token", "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-tu_proyecto.iam.gserviceaccount.com", "universe_domain": "googleapis.com"}'
